In [1]:
import pandas as pd
import pymysql

# Function to insert data from DataFrame to MySQL
def insert_data_from_df_to_mysql(df):
    try:
        # Establish connection to the MySQL database
        connection = pymysql.connect(
            host='127.0.0.1',
            user='root',
            password='Root',
            database='red_bus',
            cursorclass=pymysql.cursors.DictCursor
        )
        
        with connection:
            with connection.cursor() as cursor:
                # Create table if it does not exist
                cursor.execute("""
                CREATE TABLE IF NOT EXISTS bus_details (ID int auto_increment primary key,
                    Route_Name TEXT,
                    Route_Link TEXT,
                    Bus_Name TEXT,
                    Bus_Type TEXT,
                    Departing_Time TIME,
                    Duration TEXT,
                    Reaching_Time TIME,
                    Star_Rating FLOAT,
                    Price DECIMAL(10,2),
                    Seat_Availability VARCHAR(255)
                )
                """)

                # Insert data into the table
                for _, detail in df.iterrows():
                    cursor.execute("""
                    INSERT INTO bus_details (
                        Route_Name, Route_Link, Bus_Name, Bus_Type, Departing_Time, 
                        Duration, Reaching_Time, Star_Rating, Price, Seat_Availability
                    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                    """, (
                        detail['Route_Name'], detail['Route_Link'], detail['Bus_Name'], 
                        detail['Bus_Type'], detail['Departing_Time'], detail['Duration'], 
                        detail['Reaching_Time'], detail['Star_Rating'], detail['Price'], 
                        detail['Seat_Availability']
                    ))

            # Commit the transaction
            connection.commit()

        print("Data inserted successfully into MySQL database.")

    except pymysql.MySQLError as err:
        print(f"Error: {err}")

# List of CSV files to be inserted into the database
csv_files = [
    'APSRTC_bus_details.csv',
    'WBTC_bus_details.csv',
    'UPSRTC_bus_details.csv',
    'TSRTC_bus_details.csv',
    'SBSTC_bus_details.csv',
    'RSRTC_bus_details.csv',
    'PEPSU_bus_details.csv',
    'JKSRTC_bus_details.csv',
    'NBSTC_bus_details.csv',
    'KSRTC_bus_details.csv',
    'Kadamba_bus_details.csv',
    'HSRTC_bus_details.csv',
    'Chandigarh_bus_details.csv',
    'Assam_bus_details.csv'
]

# Loop through each CSV file and insert data into MySQL
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    insert_data_from_df_to_mysql(df)

Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.